<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="car_rental_menu"
              name="Car Rental"
              sequence="1"/>

    <menuitem id="customer_menu"
              name="Customer"
              parent="car_rental_menu"
              sequence="10"/>

    <menuitem id="order_menu"
              name="Order"
              parent="car_rental_menu"
              sequence="30"/>
    <menuitem id="maintenance_menu"
              name="Maintenance"
              parent="car_rental_menu"
              sequence="40"/>
    <menuitem id="car_management_menu"
              name="Car Management"
              parent="car_rental_menu"
              sequence="20"/>
    <menuitem id="finance_management_menu"
              name="Finance Management"
              parent="car_rental_menu"
              sequence="50"/>
    <menuitem id="offline_transaction_sub_menu"
              name="Offline Transaction"
              parent="finance_management_menu"
              action="offline_transaction_action"
              sequence="10"/>
    <menuitem id="customer_sub_menu"
              name="New Order"
              parent="order_menu"
              action="new_order_action"
              sequence="10"/>

    <menuitem id="maintenance_sub_menu"
              name="Driver Salary"
              parent="maintenance_menu"
              action="driver_salary_action"
              sequence="10"/>

    <menuitem id="customer_sub_menu"
              name="Customer"
              parent="customer_menu"
              action="customer_action"
              sequence="10"/>


    <menuitem id="car_details_sub_menu"
              name="cars Details"
              parent="car_management_menu"
              action="car_management_action"
              sequence="10"/>
</odoo>