.my-fonts{
//     font-family: 'Protest Riot', sans-serif;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    background-color: #87CEEB;

}
.new-bg-name{
    background-color: yellow;
     font-family: LiberationSans;
}
.new-bg-rent{
//     background-color: yellow;
     font-family:  FontAwesome;
}
.new-bg-driver{
     font-family: emojifont;
}
.new-bg-type{
     font-family: Tahoma (sans-serif);
}
.car-image{
    background-color: #f2d675;


}
// * {
// background-image: url("car_Rental/static/src/img/yuvraj-singh-tmAynVA_ihE-unsplash.jpg");}
.bg_class{
max-width: 100%;
  height: auto;
  opacity: 0.5;
}

.polaroid_one{
    border-radius: 50%;
}
